* {
  font-family: Helvetica;

}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
}

li {
  list-style-type: none;
  text-decoration: underline;
  color: white;
  padding: 10px;
}

h1 {
  font-weight: bold;
  font-size: 70px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  /*background-size: cover;*/
  background-position: center;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
}

.copy {
  font-size: 11px;
}
a {
  color: white;
}
